---
layout: nil
---
<!DOCTYPE html>
<html lang="ru">

<head>
  {% if page.path == '404.html' %}
  <meta http-equiv="refresh" content="5; url=/">
  {% endif %}

  <meta charset="utf-8">
  <meta name="description" content="{{ page.excerpt|strip_html }}">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>

  <link rel="stylesheet" href="//raw.githack.com/mojombo/tpw/master/css/syntax.css">
  <link rel="stylesheet" href="/styles.css">

  <link href="/atom.xml" rel="alternate" type="application/atom+xml">
</head>

<body>
  <h1><a href="/">{{ site.name }}</a></h1>

  {% if page.path == '404.html' %}
    <h2>404 Not Found. You will be redirected to home page in 5 seconds!</h2>
  {% elsif content.size > 0 %}
    {% if page.title %}
    <h2>{{ page.title }}&nbsp;{% if page.link %}<a href="{{ page.link }}">✪</a>{% endif %}</h2>
    {% endif %}

    <section class="content">{{ content }}</section>

    {% if site.disqus_shortname %}
    <section class="comments" id="disqus_thread">
      <noscript>Please enable JavaScript to view the comments</noscript>
      <script src="//{{ site.disqus_shortname }}.disqus.com/embed.js" async="async"></script>
    </section>
    {% endif %}
  {% else %}
    <nav>
      {% for post in paginator.posts %}
      <p>
        <a href="{{ post.url }}">{{ post.title }}</a>&nbsp;{% if post.link %}<a href="{{ post.link }}">✪</a>{% endif %}
      </p>
      {% endfor %}

      {% if paginator.total_pages > 1 %}
      <div class="pagination">
        {% if paginator.previous_page  %}
        <a href="{% if paginator.previous_page == 1 %}/{% else %}{{ paginator.previous_page_path }}{% endif %}">←</a>
        {% endif %}
        <span>{{ paginator.page }}/{{ paginator.total_pages }}</span>
        {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}">→</a>
        {% endif %}
      </div>
      {% endif %}
    </nav>
  {% endif %}
</body>

</html>
