body {
  margin: 3ex;
  font-family: "PT Sans", sans-serif;
}

h1,
h2,
header,
.pagination {
  text-align: center;
}

.logo a {
  text-decoration: none;
  color: black;
}

nav,
article {
  max-width: 70ex;
  margin: 0 auto;
}

article {
  text-align: justify;
  -webkit-hyphens: auto; -moz-hyphens: auto; -ms-hyphens: auto; hyphens: auto;
}

img {
  width: 100%;
}

time,
blockquote {
  font-style: italic;
}

.highlight {
  overflow-x: auto;
}
