body {
  font-family: "PT Sans", sans-serif;
  max-width: 70ex;
  margin: 0 auto;
  padding: 3ex;
}

body > header {
  position: relative;
}

body > header > nav {
  position: absolute;
  top: 0;
  right: 0;
}

article p {
  -webkit-hyphens: auto; -moz-hyphens: auto; -ms-hyphens: auto; hyphens: auto;
  text-align: justify;
}

img {
  width: 100%;
}

.logo a {
  text-decoration: none;
  color: black;
}

.highlight {
  overflow-x: auto;
}
