body {
  font-family: Georgia, sans-serif;
  max-width: 48em;
  margin: 0 auto;
  padding: 3ex;
}

body > header {
  position: relative;
}

@media screen and (min-width: 480px) {
  body > header > nav {
    float: right;
    margin-top: .5rem;
  }
}

article p {
  /* -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -epub-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; */
  text-align: justify;
  line-height: 1.5;
  font-size: 1.125rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

img {
  float: left;
  max-width: 100%;
  margin: 0 1rem 1rem 0;
}

.logo a {
  text-decoration: none;
  color: black;
}

.highlight {
  overflow-x: auto;
}

table {
  width: 100%;
  text-align: left;
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 10px;
  padding-bottom: 12px;
}

td, th {
  border-width: 1px;
  border-bottom-style: solid;
}