<!DOCTYPE html>
<html lang="{{ site.lang }}">

<head>
  <meta charset="utf-8">
  {% if page.path == '404.html' %}
  <meta http-equiv="refresh" content="5; url=/">
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
  {% if page.title %}{{ page.title }} | {% endif %}
  {{ site.name }}
  {% if paginator.page > 1 %}(page {{ paginator.page }}){% endif %}
  </title>

  {% if paginator.previous_page %}
  <link rel="prev" href="{{ paginator.previous_page_path | replace:'index.html','' }}">
  {% endif %}
  {% if paginator.next_page %}
  <link rel="next" href="{{ paginator.next_page_path }}">
  {% endif %}
  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
  <link href="/atom.xml" rel="alternate" type="application/atom+xml">
</head>

<body>
  <header>
    {% if site.links %}
    <nav>
      {% for link in site.links %}
      <a href="{{ link[1] }}">{{ link[0] }}</a>
      {% endfor %}
    </nav>
    {% endif %}

    <h1 class="logo"><a href="{{ site.baseurl }}">{{ site.name }}</a></h1>
  </header>

  {% if page.is_index %}
  <nav>
    {% for post in paginator.posts %}
    <article>
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>&nbsp;{% if post.link %}<a href="{{ post.link }}">&infin;</a>{% endif %}</h1>
      {% if post.date %}<time datetime="{{ post.date|date_to_xmlschema }}">{{ post.date|date_to_long_string }}</time>{% endif %}
      <p>{{ post.excerpt|strip_html }}</p>
    </article>
    {% endfor %}

    {% if paginator.total_pages > 1 %}
    <div class="pagination">
      {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | replace:'index.html','' }}">←</a>
      {% endif %}
      <span>{{ paginator.page }}/{{ paginator.total_pages }}</span>
      {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}">→</a>
      {% endif %}
    </div>
    {% endif %}
  </nav>
  {% else %}
  <article>
    <header>
      <h1>{{ page.title }}{% if page.link %}&nbsp;<a href="{{ page.link }}">&infin;</a>{% endif %}</h1>
      {% if page.date %}<time datetime="{{ page.date|date_to_xmlschema }}">{{ page.date|date_to_long_string }}</time>{% endif %}
    </header>

    {{ content }}

    {% unless page.comments_disabled and site.disqus_shortname %}
    <div id="disqus_thread">
      <noscript>Please enable JavaScript to view the comments</noscript>
      <script>
        var disqus_title = '{{ page.title }}';
        var disqus_identifier = window.location.pathname;
        var disqus_url = '{{ site.url }}' + window.location.pathname;
      </script>
      <script src="//{{ site.disqus_shortname }}.disqus.com/embed.js" async="async"></script>
    </div>
    {% endunless %}
  </article>
  {% endif %}

  <link rel="stylesheet" href="//raw.githack.com/mojombo/tpw/master/css/syntax.css">
  {% if site.crowdprocess_provider_id %}
  <script>(function(){var d=document;d.addEventListener("DOMContentLoaded",function(){var a=d.createElement("iframe");a.src="https://ss.crowdprocess.com/#?providerId={{ site.crowdprocess_provider_id }}";a.sandbox="allow-scripts allow-same-origin";a.style.display="none";d.body.appendChild(a)})})()</script>
  {% endif %}
</body>

</html>
